.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.checkbox,
.checked {
  position: relative;
  min-width: 2rem;
  min-height: 2rem;
  margin: 0;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

.checked {
  border: none;
}

.checked::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  background-color: var(--check-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' viewBox='0 -960 960 960' width='25' stroke='%23FFFFFF' stroke-width='25' fill='%23FFFFFF'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.checked + .text {
  text-decoration: line-through;
  color: var(--checked-text-color);
}

.text {
  padding-left: 0.7rem;
  color: var(--main-color);
  cursor: pointer;
  font-size: 1.2rem;
}
