.section {
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--main-white-color);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.empty {
  margin: 0;
  padding: 3rem;
  text-align: center;
  font-size: 1.2rem;
}
