.filter {
  position: relative;
  width: 11rem;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 1.3rem;
  background-color: var(--main-white-color);
  cursor: pointer;
  font-size: 1rem;
}

.filter:focus,
.filter:hover {
  outline: none;
  border-color: var(--hover-btn-color);
}
