html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #28283d;
  --light-main-color: #353550;
  --check-color: #8bc34a;
  --btn-color: #fe5416;
  --hover-btn-color: #f77748;
  --active-btn-color: #f84504;
  --checked-text-color: #b7b7b9;
  --main-white-color: snow;
  --hover-checkline-color: #feebda;
  --light-text-color: #fffbeb;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--light-main-color)
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container {
  width: 75%;
  max-width: 55rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.main {
  margin-bottom: 1.5rem;
}

.todos {
  position: relative;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--main-white-color);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.clear {
  position: absolute;
  right: 1.5rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 1.3rem;
  background-color: var(--btn-color);
  color: var(--main-white-color);
  cursor: pointer;
  font-size: 1rem;
}

.clear:focus,
.clear:hover {
  outline: none;
  background-color: var(--hover-btn-color);
}

.clear:active {
  background-color: var(--active-btn-color);
}
